.container{
    margin: 10px;
    display: flex;
     flex-direction: column;
     width: 80vw;
}
.box{
    display: flex;
    flex-direction: row;

}
.innerbox{
    box-shadow: 0 0 4px rgb(0,0,0,.4);
    width: 30%;
    margin: 10px;
    border-radius: 4px;
}
img{
    width: 100%;

}
h1{
    padding: 4px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    width: 80%;
    background-color: rgb(160, 158, 158);
    color: whitesmoke;
    border-radius: 2px;
    padding: 10px;
    border: none;
}
.informationbox{
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 100%;
   
    align-items: center;

}
img:hover{
    box-shadow: 0 0 8px rgb(0,0,0,1);
}
