
.container{
   
    box-sizing: content-box;
   
    margin: auto;
    width: 30%;
    box-shadow: 0 0 20px rgb(0, 0, 0,0.1),0 0 40px rgb(0, 0, 0,0.1);
    font-family: 'Dosis', sans-serif;
    
}
.innercontainer{
    padding: 20px;
}
h2{
    text-align: center;
    color: rgb(69, 69, 231);
   text-shadow: 1px 2px 2px blue;
}
a{
    float: right;
    margin-right: 40px;
}
p{
    font-size: 14px;
}
input[type="email"],
input[type="password"]{
    width: 90%;
    padding:10px ;
    border-radius: 4px;
    border: 1px solid rgba(24, 20, 20, 0.089);
}
input[type="submit"]{
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: rgb(69, 69, 231);
    width: 100%;
    color: white;
}

@media (max-width:600px){
.container{
    width: 100%;
    
}
}
